NEXT_PUBLIC_APP_URL=https://rhfsp.gov.ng
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
FIELD_ENCRYPTION_KEY_BASE64=
RESEND_API_KEY=
RESEND_FROM=RHFSP <no-reply@rhfsp.gov.ng>
TERMII_API_KEY=
TERMII_SENDER_ID=RHFSP
CRON_SECRET=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
